<h1>Trout</h1>

<p>Salmonidae</p>

<p>habitat: freshwater</p>

<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Salmo_trutta.jpg/220px-Salmo_trutta.jpg" />

<p>Trout is the name for a number of species of freshwater fish belonging to the genera Oncorhynchus, Salmo and Salvelinus, all of the subfamily Salmoninae of the family Salmonidae. The word trout is also used as part of the name of some non-salmonid fish such as Cynoscion nebulosus, the spotted seatrout or speckled trout.

  Trout are closely related to salmon and char (or charr): species termed salmon and char occur in the same genera as do trout (Oncorhynchus - Pacific salmon and trout, Salmo - Atlantic salmon and various trout, Salvelinus - char and trout).

  Most trout such as Lake trout live in freshwater lakes and/or rivers exclusively, while there are others such as the Rainbow trout which may either live out their lives in fresh water, or spend two or three years at sea before returning to fresh water to spawn, a habit more typical of salmon. A rainbow trout that spends time in the ocean is called a steelhead.

  Trout are an important food source for humans and wildlife including brown bears, birds of prey such as eagles, and other animals. They are classified as oily fish.[1]</p>

<a href="http://en.wikipedia.org/wiki/Trout">Trout Wiki Page</a>

<a href="/">HOMEPAGE</a>
