<h1>Betta</h1>

<p>Osphronemidae</p>

<p>habitat: freshwater</p>

<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Betta_albimarginata_060311_8.jpg/250px-Betta_albimarginata_060311_8.jpg" />

<p>Betta /ˈbɛtə/ is a large genus of small, often colorful, freshwater ray-finned fishes in the gourami family (Osphronemidae).[1] By far the best known Betta species, however, is B. splendens, the Siamese fighting fish.</p>

<a href="http://en.wikipedia.org/wiki/Betta">Betta Wiki Page</a>

<a href="/">HOMEPAGE</a>
